body {
    padding: 3px;
    color: #555;
    background: #F8F8F5;
}

body > * {
    padding: 2px 2px;
}

.c-row {
    padding: 6px 5px;
    border: 0 solid #eee;
}

.popup {
    width: 280px;
}

.options {
    width: 50%;
}